/* Summary Box */
.summary-box {
    background: #eee;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Grid Layout for Compartments */
.compartment-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 10px;
}

.compartment-card {
    background: #f4f4f4;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

/* Analytics Page Navigation Buttons */
.analytics-links {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.analytics-btn {
    padding: 10px 15px;
    background: #4d7745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.analytics-btn:hover {
    background: #314c2c;
}

/* Date Selector */
.date-selector, .days-selector {
    margin-bottom: 15px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.date-selector label, .days-selector label {
    /*display: flex;*/
    flex-direction: column;
    margin-right: 10px;
}

.date-selector input, .days-selector select {
    /*padding: 1px;*/
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 5px;
}

/* Shopping Button Styles */
.shop-btn {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px 15px;
    background: #4d7745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.shop-btn:hover {
    background: #314c2c;
}

/* Grid Layout for Item Cards */
.item-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 15px;
}

.item-card {
    background: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.item-thumbnail img {
    width: 80px;
    height: 80px;
    border-radius: 5px;
}

/* Remove default list padding */
ul {
    padding-left: 15px;
    list-style-position: inside; /* Ensures bullets stay inside the content area */
}

/* Add spacing to list items */
ul li {
    margin-bottom: 5px;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

.back-btn {
    display: block;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 15px;
    background: #ccc;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
}

.back-btn:hover {
    background: #bbb;
}

.center-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 75px;
}

.item-card-link {
    text-decoration: none;
    color: inherit;
}